@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #fefefe;
	@apply leading-normal;
}

a {
	@apply text-blue-500;
	transition: all 0.1s ease;
}

a:hover {
	@apply text-blue-600;
	transition: all 0.1s ease;
}

.btn-primary {
	@apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
	transition: all 0.1s ease;
}

.btn-primary:hover {
	@apply bg-blue-600;
	transition: all 0.1s ease;
}

label {
	@apply mb-2;
}

input,
textarea {
	@apply bg-gray-200 p-2 border border-gray-400 outline-none rounded;
}

input:required,
textarea:required {
	box-shadow: none;
}

.text-shadow-fancy {
	text-shadow: 2px 2px 0px #48ced2;
	transition: all 0.1s ease;
}

.text-shadow-fancy:hover {
	text-shadow: 2px 2px 0px #39c0c5;
	transition: all 0.1s ease;
}

.text-shadow-fancy-xl {
	text-shadow: 6px 6px 0px #48ced2;
	transition: all 0.1s ease;
}

.text-shadow-fancy-xl:hover {
	text-shadow: 6px 6px 0px #39c0c5;
	transition: all 0.1s ease;
}

#mc_embed_signup form {
	text-align: center;
	padding: 10px 0 10px 0;
}
.mc-field-group {
	display: inline-block;
} /* positions input field horizontally */
#mc_embed_signup input.email {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	font-size: 15px;
	border: 1px solid #abb0b2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #343434;
	background-color: #fff;
	box-sizing: border-box;
	height: 32px;
	padding: 0px 0.4em;
	display: inline-block;
	margin: 0;
	width: 350px;
	vertical-align: top;
}
#mc_embed_signup label {
	display: block;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}
#mc_embed_signup .clear {
	display: inline-block;
} /* positions button horizontally in line with input */
#mc_embed_signup .button {
	font-size: 13px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	letter-spacing: 0.03em;
	color: #fff;
	background-color: #aaa;
	box-sizing: border-box;
	height: 32px;
	line-height: 32px;
	padding: 0 18px;
	display: inline-block;
	margin: 0;
	transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button:hover {
	background-color: #777;
	cursor: pointer;
}
#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0em 0.5em 0em 0.5em;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	clear: both;
}
#mc_embed_signup div.response {
	margin: 1em 0;
	padding: 1em 0.5em 0.5em 0;
	font-weight: bold;
	float: left;
	top: -1.5em;
	z-index: 1;
	width: 80%;
}
#mc_embed_signup #mce-error-response {
	display: none;
}
#mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}
#mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: 0.5em 0;
}
