body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: calc(100vw - 68px);
  padding-left: 34px;
}

a {
  color: #7b5990;
  transition: all 0.1s ease;
}

a:hover {
  color: #614671;
  transition: all 0.1s ease;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #7b5990;
  transition: all 0.1s ease;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #7b5990;
  border-color: #7b5990;
  transition: all 0.1s ease;
}

.main {
  margin-top: 2em;
  margin-bottom: 4em;
}

img {
  max-width: 100%;
}

section:not(:first-of-type) {
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.half-width {
  width: 100%;
}

.button-group {
  display: flex;
}

.button-group button,
.button-group a {
  display: flex;
  margin-right: 1em;
}

button.button-primary[disabled] {
  background-color: #666;
  cursor: not-allowed;
  border-color: #666;
}

@media (min-width: 550px) {
  .half-width {
    width: 50%;
  }
}
