.quote {
  position: relative;
  padding: 1em;
  background-color: #fafafa;
}

.quote span {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

.quote span:before {
  content: "\201D";
  color: #7b5990;
  font-size: 4em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  text-shadow: none;
  top: -25%;
  right: 0;
}

.quote cite {
  margin-left: 2em;
}

@media (min-width: 400px) {
  .quote {
    width: 66%;
  }
  .quote span:before {
    top: -40%;
  }
}
